<div class="row">
    <mat-card style.background="lightpink">
        <h2 class="text-center"><b>ALL AIRLINES DETAILS</b>
            <a routerLink="/admin/airline" style="float: right;">
                <button mat-raised-button color="accent" style="width: 20vw;">
                Register New Airline
                </button>
              </a>
        </h2><hr>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>CODE</th>
                <th>OPERATION</th>
                <th>COUNTRY</th>
                <th>Action</th>
            </thead>            
            <tr *ngFor="let airline of airlines">
                <td>{{airline.id}}</td>
                <td>{{airline.name}}</td>
                <td>{{airline.code}}</td>
                <td>{{airline.operationType}}</td>
                <td>{{airline.country}}</td>
                <td>
                    <button mat-icon-button (click)="deleteAirline(airline.id)" color="warn">
                        <mat-icon>delete</mat-icon>                            
                    </button>
                </td>
            </tr>               
        </table>
    </mat-card><br>
</div>

