<div class="container">
    <mat-card  class="mat-elevation-z8">
        <h2 class="text-center">ADD YOUR ADDRESS </h2><hr>
            <form [formGroup]="addressService.form" (submit)="saveAddress()">                              
            <div class="row">   
                <div class="row col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Address Line 1</mat-label>                       
                        <input matInput formControlName="street1">
                        <mat-hint>Enter Address Line 1 </mat-hint>
                    </mat-form-field>
                </div>
    
                <div class="row col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Address Line 2</mat-label>                       
                        <input matInput formControlName="street2">
                        <mat-hint>Enter Address Line 2</mat-hint>
                    </mat-form-field>
                </div> 
                </div>  
                <div class="row">         
                <div class="row col-lg-6">
                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>                       
                            <input matInput formControlName="city">
                            <mat-hint>Enter City</mat-hint>
                        </mat-form-field>
                </div>
           
                <div class="row col-lg-6">
                        <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>                       
                            <input matInput formControlName="state">
                            <mat-hint>Enter State</mat-hint>
                        </mat-form-field>
                </div> 
            </div>    
            <div class="row">                   
                <div class="row col-lg-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Country</mat-label>                       
                            <input matInput formControlName="country">
                            <mat-hint>Enter City</mat-hint>
                        </mat-form-field>
                </div>
                <div class="row col-lg-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Pin Code</mat-label>                       
                            <input matInput formControlName="pinCode">
                            <mat-hint>Enter State</mat-hint>
                        </mat-form-field>
                </div>  
            </div>

                <div class="row">
                    <div class="row col-lg-12">
                        <button mat-button [disabled]="addressService.form.invalid" color="primary">Submit and Go to Payment</button>              
                    </div> 
                </div>
                     
            </form>   
    </mat-card>
</div>
