<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon color="warn">flight_takeoff</mat-icon>
    </button>
    <span>{{title}} </span>
    <span class="example-spacer"></span>  
    <a routerLink="/search-flight" [hidden]="selectedRole!==null">
      <button mat-button color="warn">
        Search Flights
      </button>
    </a>   

    <a routerLink="/admin"  [hidden]="selectedRole!=='admin'">
      <button mat-button color="accent">
        Manage Bookings and Airlines
      </button>
    </a>

    <a routerLink="/register" [hidden]="selectedRole!==null">
      <button mat-button color="accent">
      Sign Up
      </button>
    </a>

    <a routerLink="/login" [hidden]="selectedRole!==null">
      <button mat-button color="accent">
        Sign In
      </button>
    </a>

    <p class="text-small" [hidden]="selectedRole==null">{{fullname}}</p>    
   
      <button mat-icon-button (click)="logout()" [hidden]="selectedRole==null">
        <mat-icon>lock</mat-icon>
      </button>

  </mat-toolbar>

</p>


 <router-outlet></router-outlet>
