<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon color="warn">flight_takeoff</mat-icon>
    </button>
    <span>{{title}} </span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a routerLink="/search-flight"  *ngIf="authService.isUserLoggedIn">
      <button mat-button color="warn">
        Search Flights
      </button>
    </a>

    <a routerLink="/manage-booking"  [hidden]="!authService.isUserLoggedIn">
      <button mat-button color="accent">
        Manage Booking
      </button>
    </a>

    <a routerLink="/register"  *ngIf="authService.isUserLoggedIn">
      <button mat-button color="accent">
      Sign Up
      </button>
    </a>

    <a routerLink="/login" *ngIf="authService.isUserLoggedIn">
      <button mat-button color="accent">
        Sign In
      </button>
    </a>

    <p *ngIf="authService.isUserLoggedIn">{{authService.user.firstName}}</p>
    
   
      <button mat-icon-button (click)="logout()" *ngIf="authService.isUserLoggedIn">
        <mat-icon>lock</mat-icon>
      </button>
   

    <button mat-icon-button color="accent" aria-label="Options">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

</p>


 <router-outlet></router-outlet>
