<div class="container">
    <mat-card  class="mat-elevation-z6">
        
        <h2 class="text-center">MAKE PAYMENT </h2><hr>
      
            <div class="row">
                  <form [formGroup]="paymentService.form" (submit)="makePayment()">                
                      <div class="row col-lg-12">
                          <mat-form-field appearance="fill">
                              <mat-label>Amount</mat-label>                       
                              <input matInput formControlName="amount">
                              <mat-hint>Total Amount </mat-hint>
                          </mat-form-field>
                      </div>
      
                      <div class="row col-lg-12">
                          <mat-form-field appearance="fill">
                              <mat-label>Select Payment method</mat-label>    
                              <mat-select matInput formControlName="payment_method">
                                  <mat-option value="CREDIT_CARD">CREDIT_CARD</mat-option>
                                  <mat-option value="NET_BANKING">NET BANKING</mat-option>
                                  <mat-option value="UPI">UPI</mat-option>
                              </mat-select>               
                             
                              <mat-hint>Select Payment Gateway</mat-hint>
                          </mat-form-field>
                      </div>     
                      
                      <div class="row col-lg-12">
                          <mat-form-field appearance="fill">
                              <mat-label>Select Payment Gateway</mat-label>    
                              <mat-select matInput formControlName="payment_gateway">
                                  <mat-option value="MASTERCARD">MASTERCARD</mat-option>
                                  <mat-option value="VISA">VISA</mat-option>
                                  <mat-option value="HDFC BANK NETBANKING">HDFC BANK NETBANKING</mat-option>
                                  <mat-option value="SBI NETBANKING">SBI NETBANKING</mat-option>
                                  <mat-option value="GPAY/PHONEPAY">GPAY/PHONEPAY</mat-option>
                              </mat-select> 
                              <mat-hint>Select Payment Method</mat-hint>
                          </mat-form-field>
                      </div>                 
                     
                      <div>
                          <button mat-button>Back</button>
                         <button mat-button class="btn btn-block btn-primary" [disabled]="paymentService.form.invalid">Pay Now</button>
                      </div>
                  
                  </form>   
              </div>  
    </mat-card>
</div>

