<div class="container">
    <mat-card class="mat-elevation-z8">

      <div class="row col-8">
        <h2 class="text-center">SELECT SEATS AND VERIFY FLIGHT DETAILS</h2>
        <HR>
      </div>

      <form [formGroup]="bookingService.form" (submit)="bookSeat()"> 
        <div class="row">
          <div class="row col-6">
            <mat-form-field appearance="fill">
              <mat-label>Date of Flight</mat-label>
              <input matInput value="{{details.dateOfFlight}}"  readonly>
            </mat-form-field>
          </div>
          <div class="row col-6">
            <mat-form-field appearance="fill">
              <mat-label>Airline</mat-label>
              <input matInput value="{{details.airline.name}}" readonly>
            </mat-form-field>
          </div>          
        </div>

        <div class="row">
          <div class="row col-6">
            <mat-form-field appearance="fill">
              <mat-label>Origin</mat-label>
              <input matInput value="{{details.origin}}" readonly>
            </mat-form-field>  
          </div>
          <div class="row col-6">
            <mat-form-field appearance="fill">
              <mat-label>Destination</mat-label>
              <input matInput value="{{details.destination}}" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="row col-6">
            <mat-form-field appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput value="{{details.price}}" readonly>
            </mat-form-field>
          </div>
         
          <div class="row col-6">
            <mat-form-field appearance="fill">
              <mat-label>Select No of Seats</mat-label>
              <mat-select formControlName="noOfSeatsBooked">
                <mat-option *ngFor='let in of counter(5) ;let i = index' [value]="i">
                  {{i}}
                </mat-option>
              </mat-select>
          </mat-form-field> 
          </div>
        </div>

      

        <div class="row">
          <div class="row col-12">
            <button mat-button [disabled]="bookingService.form.invalid" color="primary">Save</button>
          </div>
        </div>
      </form>
    </mat-card>
</div> 

